name: PingMe CI Pipeline

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven
      
      - name: Build backend (no tests)
        run: mvn clean package -DskipTests -Dcheckstyle.skip=true

      - name: Checkstyle Report (Non-blocking)
        run: mvn checkstyle:check || true






