name: PingMe CI Pipeline

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
